.accessibleAccordion > li {
    margin: 15px;
    padding: 10px;
    list-style: outside none;

}
.accessibleAccordion > li.question {
    cursor: pointer;
    background-color: #000;
    border: 1px solid #000;
    color: #EFEFEF;
}

.accessibleAccordion > li.focused,
.accessibleAccordion > li:focus {
    /* border: 1px solid #f00; */
}

.accessibleAccordion > li.answer {
}

.accessibleAccordion > li.question.focused,
.accessibleAccordion > li.question:focus,
.accessibleAccordion > li.question:hover, 
.accessibleAccordion > li.question:focus {
    text-decoration: underline;
}

.accessibleAccordion .accessibleLink {
    font-size: 0;
    overflow: hidden;
    height: 0;
    display: block;
    width: 0;
    float: left;
}